/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;    padding: 0;    border: 0;   letter-spacing: .5px;  font-size:12px;   cursor: pointer; font: inherit;text-decoration: none;color: #000000;    vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {    display: block;}body {    line-height: 1;}ol, ul {    list-style: none;}blockquote, q {    quotes: none;}blockquote:before, blockquote:after,q:before, q:after {    content: '';    content: none;}table {    border-collapse: collapse;    border-spacing: 0;}
.wrapper{
    width:100%;
    min-width:1000px;
    .header_container{
        width:100%;
        height:162px;
        position: relative;
        margin: 0 auto;
        .header{
            width:1000px;
            height: 120px;
            margin: 0 auto;
            .quick_access{
                width:1000px;
                height:30px;
                .quick_access_left{
                    height:30px;
                    line-height: 30px;
                    float:left;
                    ul{
                        .theLi{
                            float:left;
                            height:30px;
                            padding:0 6px 0 0;
                            font-size:12px;
                            .youli{
                                width:20px;
                                height:20px;
                                margin: 0 0 -4px 0;
                                padding:0 2px 0 0;
                                font-size:12px;
                            img{
                                margin: 0 0 0 0;
                            }
                                a{
                                    color: #000 !important;
                                    font-size:12px;
                                }
                                span{
                                    margin: 0 14px;
                                    font-size:12px;
                                }
                            }
                        }
                    }
                }
                .quick_access_right{
                width:30px;
                height: 30px;
                float: right;
                padding: 0 80px 0 0;
                ul{
                    width:300px;
                    margin: 0px 0px 0px -216px;
                    li{
                        float: left;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 0 0 20px;
                        span{
                            font-size:12px; 
                        }
                        .pop_up{
                          
                            .pop_up_app{
                               
                                display:none;
                                width: 114px;
                                height: 130px;
                                overflow: hidden;
                                box-shadow: 0 2px 4px #999;
                                background-color: #fff;
                                position: absolute;
                                left: 935px;
                                top: 30px;
                                z-index: 99;
                                text-align: center;
                                img{
                                    width:100px;
                                    height:100px;
                                    margin-top: 6px;
                                }
                                p{
                                    font-size:12px; 
                                    margin: -13px 0 0 0;
                                }
                            }
                        }
                        a{
                            color: #000;
                            font-size:12px; 
                        }
                        .imglink_weibo{
                            background-image:url(../img/base_z.png);
                            background-repeat:no-repeat;
                            background-position: -604px -332px;
                            width: 20px;
                            height: 17px;
                            position: relative;
                            right: 10px;
                        }
                    }
                }
                }
            }
            .branding{
                width:1000px;
                height:90px;
                .logo{
                    background-image:url(../img/base_z.png);
                    background-position:-853px -295px;
                    display: block;
                    width: 205px;
                    height: 90px;
                    float: left;
                    background-repeat: no-repeat;
                }
                .logo_slogan{
                    background-image:url(../img/base_z.png);
                    background-position: -889px -74px;
                    display: block;
                    width: 151px;
                    height: 90px;
                    float: left;
                    background-repeat: no-repeat;
                }
                .search_bar{
                    width:388px;
                    height:38px;
                    position: relative;
                    top:50%;
                    margin-top:-20px;
                    background-color: #fff;
                    float:right;
                    .clearfix{
                        .input_txt{
                            width:350px;
                            height:38px;
                            box-sizing:border-box;
                            background-color:#fff;
                            float:left;
                            border:1px solod #000;
                            #searchTxt{
                                color:#000;
                                height:36px;
                                width:348px;
                                text-align:left;
                                padding-left:10px;
                            }
                        }
                        .search_icon{
                            width:38px;
                            height:42px;
                            background: #000 url(../img/TB12WttaYGYBuNjy0FoXXciBFXa-38-38.png);
                            background-position: center;
                            float: right;
                        }
                    }
                }
            }
            
        }
        .nav_container{
            width: 100%;
            height: 42px;
            background-color: #000;
            position: relative;
            z-index: 9999;
            .header_menu{
                width: 1000px;
                height: 42px;
                margin: 0 auto;
                ul{
                    li{
                       a{
                            margin-right: 50px;
                            height:42px;
                            line-height: 42px;
                            float: left;
                            font-size: 15px;
                            color:#fff; 
                       } 
                        .pop_up{

                            display: none;
                            position: absolute;
                            top:42px;
                            left:262px;
                            width:630px;
                            box-shadow: 0 1px 6px #999;
                            background-color: #fff;
                            .submenu{
                                width: 274px;
                                height: auto;
                                overflow: hidden;
                                float: left;
                                padding: 0 20px 0 20px; 
                                margin-top: 10px;
                                margin-bottom: 10px;
                                .title{
                                    width: 100%;
                                    height: 44px;
                                    line-height: 44px;
                                    font-size: 14px;
                                    font-weight: bold;
                                    border-bottom: 1px solid #e7e7e7;
                                    text-align: left;
                                }
                                ul{
                                    width: 100%;
                                    height: auto;
                                    max-height: 230px;
                                    overflow: hidden;
                                    padding-bottom: 34px;
                                    font-size: 12px;
                                    li{
                                        color: rgb(102, 102, 102);
                                        float: none;
                                        width: 100%;
                                        height: auto;
                                        overflow: hidden;
                                        line-height: 15px;
                                        white-space: normal;
                                        text-align: left;
                                        margin-top: 10px;
                                        margin-right: 0;
                                    }
                                }
                            }

                        }
                    }
                }
            }
            .nav_right{
                float: right;;
                width:156px;
                height:42px;
                line-height: 42px;
                ul{
                    li{ 
                        float: left;
                        margin: 0 0 0 15px;
                        color:#fff;  
                    }
                    .online-service{
                        width: 24px;
                        height: 42px;
                        background-image: url(../img/online-service.png);
                        background-position: 0px 12px;
                        line-height: 42px;
                        background-repeat: no-repeat
                    }
                    .shopping_quantity{
                        background-image: url(../img/base.png);
                        background-position: -1017px -219px;
                        color: #a8a8a8;
                        font-size: 12px;
                        width: 23px;
                        text-align: center;
                        line-height: 45px;
                        background-repeat: no-repeat
                    }
                }
            }
           
        }
    }
    .bigBanner{
        width: 1510px;
        height: 524px;
        overflow: hidden;
        position: relative;
        top: 0px;
        left: -161px;
        img{
            width: 1664px;
            height: 524px;
            position: absolute;
        }
    }
    .bg_shadow{
        width:1040px;
        background: #fff;
        margin : 0 auto;
        position: relative;
        top: -180px;
        box-shadow:-2px 0px 10px #606060,2px 0px 10px #606060;
        .content_container{
            width:1000px;
            padding-top:20px;
            margin: 0px 0px 0 20px;
            .eventList{
                width:1020px;
                height:auto;
                overflow: hidden;
                h3{
                    width:100%;
                    height:28px;
                    line-height:28px;
                    text-anchor: random;
                    margin-bottom:20px;
                    font-size:26px;
                    font-weight:400;
                    .spanLeft{
                        width:6px;
                        height:30px;
                        background-image:url(../img/icon_title.png);
                        float:left;
                    }
                    .spanTitle{
                        height:28px;
                        display: block;
                        padding: 0 10px;
                        line-height:26px;
                        float:left;
                    }
                    .spanRight{
                        width:6px;
                        height:30px;
                        background-image:url(../img/22.png);
                        float: left;
                        background-position: -6px 0px;
                        background-repeat: no-repeat;
                         
                    }
                }
                .nonBeauty_content{
                    width:1000px;
                    margin:  0 auto;
                    .theEvent{
                        width: 313px;
                        height: 232px;
                        overflow: hidden;
                        float: left;
                        cursor: pointer;
                        margin-bottom: 20px;
                        margin-right: 20px;
                        .DivImg{
                            width: 318px;
                            height: 191px;
                            overflow: hidden;
                            border: 1px solid #e7e7e7;
                            background: #000;
                            a{
                                position: absolute;
                                z-index: 1;
                                width: 318px;
                                height: 191px;
                                display: none;
                                color: #fff;
                                line-height: 191px;
                                text-align:center;
                                font-size: 12px;
                            }
                            img{
                                display: inline-block;
                                width: 320px;
                                height: 192px;
                                margin: 0px;
                                overflow: hidden;
                            }
                        }
                        .theEventIntroduction{
                            width: 300px;
                            height: 40px;
                            overflow: hidden;
                            padding: 0 10px;
                            line-height: 40px;
                            background-color: #e9e9e9;
                            .theEventTitle{
                                float: left;
                                display: block;
                                width: 180px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                font-size: 12px;
                            }
                            .bbs{
                                display: block;
                                float: right;
                                color: red;
                                font-size: 18px;
                                a{
                                    font-size: 12px;
                                    color: red;
                                }
                            }
                        }
                    }
                }
                .home-silo-banner{
                    width:320px;
                    height:484px;
                    float:left;
                    margin: 0 20px 20px 0;
                    text-align: center;
                    background:url(../img/home_silo_banner.jpg)0 0 no-repeat;
                    .home-silo-block{
                        position: relative;
                        left:0;
                        top:300px;
                        width:320px;
                        .banner{
                            height:74px;
                            background: url(../img/home_silo_title.jpg)50% 0 no-repeat;
                        }
                        .male{
                            background-position: 50% -75px;
                            height: 72px;
                        }
                        .makeup{
                            background-position: 50% -151px;
                        }
                        .furnishing{
                            background-position: 50% -225px;
                        }
                        .Baby{
                            background-position: 50% -300px;
                        }
                        .overseas{
                            background-position: 50% -375px;
                        }
                        .home-silo-box{
                            width:217px;
                            padding:6px 0;
                            margin:8px auto 0;
                            border-bottom: 1px solid #000;
                            border-top:1px solid #000;
                            line-height:20px;
                            a{
                                display: inline-block;
                                padding: 0 3px;
                                font-size: 14px;
                                color:#000;
                            }
                            .view-more{
                                display: inline-block;
                                padding: 0 12px 0 0;
                            }
                        }
                    }
                }
                .home-silo-banner-male{
                    background-position: -319px 0;
                }
                .home-silo-banner-makeup{
                    background-position: -640px 0;
                }
                .home-silo-banner-furnishing{
                    background-position: -960px 0;
                }
                .home-silo-banner-Baby{
                    background-position: -1280px 0;
                }
                .home-silo-banner-overseas{
                    background-position: -1599px 0;
                }
            }
        }

    }
    .activitiesList{
        width:1000px;
        margin-top:20px;
        overflow:hidden;
        margin: -148px auto;
        .siloActivitiesContent{
            width:100%;
            height:28px;
            line-height:28px;
            text-anchor: random;
            margin-bottom:20px;
            font-size:26px;
            font-weight:400;
            .spanLeft{
                width:6px;
                height:30px;
                background-image:url(../img/icon_title.png);
                float:left;
            }
            .spanTitle{
                height:28px;
                display: block;
                padding: 0 10px;
                line-height:26px;
                float:left;
            }
            .spanRight{
                width:6px;
                height:30px;
                background-image:url(../img/22.png);
                float: left;
                background-position: -6px 0px;
                background-repeat: no-repeat;
                 
            }
        }
        .activitiesHeadera{
            width:1000px;
            height:25px;
            font-size: 14px;
            overflow: hidden;
            position: relative;
            margin: 0px 0px 20px 0;
            span{
                display: block;
                height:16px;
                width:89px;
                float:left;
                text-align:center;
                border-right: 1px solid #000;
            }
            .bba{
                border-left: 1px solid #000;
                
            }
        }
        .tomorrow{
            display: none;
            .div2{
                float: right;
                width:109px;
                position: absolute;
                right: 4px;
                font-size:14px;
                span{
                    float: right;
                    display:block;
                    color:red;
					font-family: Constantia;
                    font-size: 27px;
                    position: relative;
                    bottom:11px;
                    right: 62px;
                }
            }
            .theActivities{
                width:311px;
                height:88px;
                float:left;
                margin-right:20px;
                margin-bottom:20px;
                overflow: hidden;
                border:1px solid #e7e7e7;
                position: relative;
                background-color:#e7e7e7;
                .bbs{
                    display: none;
                    width:318px;
                    height:88px;
                    position:absolute;
                    top:0;
                    right: 0;
                    background: #000;
                    z-index: 1;
                    opacity:0.8;
                    
                }
                .theButton{
                    display:none;
                    width:120px;
                    height:30px;
                    position:absolute;
                    text-align:center;
                    line-height: 30px;
                    top:33%;
                    left:88px;
                    background:red;
                    z-index: 2;
                    overflow: hidden;
                    font-size: 12px;
                    span{
                        margin:0 3px;
                    }
                }
                .theActivitiesImg{
                    width:149px;
                    height:88px;
                    position: absolute;
                    left:0;
                    top:0;
                    background: #fff;
                }
                .theActivitiesExplain{
                    width:169px;
                    height:88px;
                    overflow: hidden;
                    float:left;
                    position: relative;
                    right: -154px;
                    top: 0;
                    font-size: 12px;
                    p{
                        margin-top: 10px;
						margin-right: 10px;
                        margin-left: 10px;
                    }
                    .red{
                        color: #db2726;
                        span{
							color: red;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .tomorrows{
            display: block;
            .div2{
                float: right;
                width:109px;
                position: absolute;
                right: 4px;
                font-size:14px;
                span{
                    float: right;
                    display:block;
                    color:red;
					font-family: Constantia;
                    font-size: 27px;
                    position: relative;
                    bottom:11px;
                    right: 65px;
                }
            }
            .theActivities{
                width:311px;
                height:88px;
                float:left;
                margin-right:20px;
                margin-bottom:20px;
                overflow: hidden;
                border:1px solid #e7e7e7;
                position: relative;
                background-color:#e7e7e7;
                .bbs{
                    display: none;
                    width:318px;
                    height:88px;
                    position:absolute;
                    top:0;
                    right: 0;
                    background: #000;
                    z-index: 1;
                    opacity:0.8;
                    
                }
                .theButton{
                    display:none;
                    width:120px;
                    height:30px;
                    position:absolute;
                    text-align:center;
                    line-height: 30px;
                    top:33%;
                    left:88px;
                    background:red;
                    z-index: 2;
                    overflow: hidden;
                    font-size: 12px;
                    span{
                        margin:0 3px;
                    }
                }
                .theActivitiesImg{
                    width:149px;
                    height:88px;
                    position: absolute;
                    left:0;
                    top:0;
                    background: #fff;
                }
                .theActivitiesExplain{
                    width:169px;
                    height:88px;
                    overflow: hidden;
                    float:left;
                    position: relative;
                    right: -154px;
                    top: 0;
                    font-size: 12px;
                    p{
                        margin-top: 10px;
                        margin-left: 10px;
                    }
                    .red{
                        color: #db2726;
                        span{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        
    }
    .footer_container{
        width:1000px;
        height:235px;
        margin: 227px auto;
        .footer{
            height: 205px;
            margin: 0 auto;
            text-align: left;
            padding-top: 30px;
            background-color: #f2f2f2;
            text-align: center;
            .footer_advantage{
                width:1000px;
                height:60px;
                margin-bottom: 20px;
                ul{
                    li{
                        display: block;
                        width:165px;
                        height:60px;
                        float: left;
                        color: #000;
                        border-right: 1px solid #777;
                        a{
                            text-align: center;
                            line-height: 95px;
                            height: 60px;
                            display: block;
                            font-size: 12px;
                        }
                       a:hover{
                            color: #db2725;
                        }
                        .a1{
                            background-image: url(../img/base_z.png);
                            background-position: -153px -146px;
                            background-repeat: no-repeat;
                        }
                        .a1:hover{
                            background-image: url(../img/base_z.png);
                            background-position: -153px -263px;
                            background-repeat: no-repeat;
                        }
                        .a2{
                            background-image: url(../img/base_z.png);
                            background-position: -543px -104px;
                            background-repeat: no-repeat;
                        }
                        .a2:hover{
                            background-image: url(../img/base_z.png);
                            background-position: -543px 7px;
                            background-repeat: no-repeat;
                        }
                        .a3{
                            background-image: url(../img/base_z.png);
                            background-position: -150px -382px;
                            background-repeat: no-repeat;
                        }
                        .a3:hover{
                            background-image: url(../img/base_z.png);
                            background-position: -301px -229px;
                            background-repeat: no-repeat;
                        }
                        .a4{
                            background-image: url(../img/base_z.png);
                            background-position: -419px 5px;
                            background-repeat: no-repeat;
                        }
                        .a4:hover{
                            background-image: url(../img/base_z.png);
                            background-position:-419px -107px;
                            background-repeat: no-repeat;
                        }
                        .a5{
                            background-image: url(../img/base_z.png);
                            background-position: -301px -346px;
                            background-repeat: no-repeat;
                        }
                        .a5:hover{
                            background-image: url(../img/base_z.png);
                            background-position:-301px -459px;
                            background-repeat: no-repeat;
                        }
                        .a6{
                            background-image: url(../img/base_z.png);
                            background-position: -301px -112px;
                            background-repeat: no-repeat;
                        }
                        .a6:hover{
                            background-image: url(../img/base_z.png);
                            background-position: -301px 4px;
                            background-repeat: no-repeat;
                        }
                       
                    }
                    .bbs{
                        border-right:none;
                    }
                }
            }
            .footer_link{
                margin-bottom: 20px;
                a{
                    margin-left: 12px;
                    margin-right: 12px;
                    color:#000;
                    font-size: 12px;
                }
            }
            .footer_copyright{
                margin-bottom: 20px;
                text-align: center;
                font-size: 12px;
                span{
                    margin-right: 30px;
                    font-size: 12px;
                }
            }
            .footer_license{
                span{
                    a{
                    text-decoration: none;
                    color:#000;
                    font-size: 12px
                    }
                   ;
                }
            }
        }
    }
    .returnTop{
        width:100px;
        height:292px;
        position: fixed;
        left:50%;
        top:50%;
        margin-left:550px;
        overflow: hidden; 
        text-align: center;
        .top{
            overflow: hidden;
            background:#000;
            font-size: 14px;
            color:#fff;
            padding:8px 0;
            span{
                color:red;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
        .erweima{
            border: 1px solid #ccc;
            overflow: hidden;
            margin: 0;
            background-color: #fff;
            padding: 5px 0;
            img{
                width: 75px;
                height: 75px;
                display: inline-block;
                margin-bottom: 5px;
            }
            span{
                line-height: 22px;
                font-size: 13px;
                display: inline-block;
            }
        }
        .clickOn{
            display: none;
            height: 24px;
            overflow: hidden;
            background-color: #fff;
            border: 1px solid #ccc;
            border-top: 0;
            font-size: 13px;
            line-height: 24px;
            a{
                background-image: url(https://cdn11.mei.com/images/base_z.png);
                background-position: -564px -428px;
                display: block;
                width: 100%;
                height: 24px;
                overflow: hidden;
                text-indent: -9999px;
                background-repeat: no-repeat;
            }
        }
    }
}